name: Cypress Automation

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    env:
      CYPRESS_INSTALL_BINARY: 0
    steps:
    
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose up -d
      - name: Install dependencies
        run: npm install
        working-directory: ./automation
      - name: Cypress run
        run: npx cypress run
        working-directory: ./automation
